.addButton {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid grey;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #000000;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
}
.addButton p {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.addButton:hover {
  background-color: #e5e5e5;
}
