.container {
  display: flex;
  width: 60%;
  height: 50%;
  border-radius: 0.5rem;
}
.form,
.formContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.form {
  justify-content: center;
  align-items: center;
}
.formContainer {
  margin: 0 auto;
  width: 50%;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.login h2 {
  font-size: 1.75rem;
  margin-bottom: 4rem;
  color: #fada5e;
}

.inputLogin {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: none;
  color: #fada5e;
  background-color: #2a2a2a;
  border-bottom: 1px solid #fada5e;
}
.formContainer .inputLogin:first-child {
  margin-bottom: 3rem;
}

.inputLogin:focus {
  outline: none;
}
.inputLogin::-webkit-input-placeholder {
  color: #fada5e;
}
.loginBtn {
  display: flex;
  justify-content: center;
  width: 60%;
  text-align: center;
  padding: 0.5rem 2rem;
  margin-top: 4rem;
  text-decoration: none;
  color: #fada5e;
  background-color: #2a2a2a;
  font-weight: 500;
  border: 1px solid #fada5e;
  border-radius: 0.2rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.loginBtn:hover {
  color: #2a2a2a;
  border: 1px solid #2a2a2a;
  background-color: #fada5e;
}
.errorMsg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  /* padding-bottom: 4rem; */
  color: red;
}
