.formInput {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 2rem 1rem;
}
.formInput input {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid grey;
}
.formInput label {
  font-weight: 600;
}

.formInput input:hover {
  cursor: pointer;
}
