.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.options {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  padding-top: 0;
}
.options a {
  margin-right: 1rem;
}
