.buttons {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
.smallButtons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}
.leftButtons {
  display: flex;
  flex: 1;
}
.cars,
.settelments,
.drivers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  flex: 1;
  text-decoration: none;
  color: #2a2a2a;
  background-color: #dbdbdb;
  border-radius: 0.5rem;
}
.cars p,
.settelments p,
.drivers p {
  text-align: center;
}
.cars h3,
.settelments h3,
.drivers h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
