.insuranceInfo {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #dbdbdb;
  border-radius: 0.5rem;
}
.carInsuranceInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.tableOfInsurancePeriod {
  width: 100%;
  color: #2a2a2a;
  border-collapse: collapse;
}

.tableOfInsurancePeriod thead tr :first-child {
  border-top-left-radius: 0.5rem;
}
.tableOfInsurancePeriod thead tr :last-child {
  border-top-right-radius: 0.5rem;
}
.tableOfInsurancePeriod th,
.tableOfInsurancePeriod td {
  padding: 1rem 0.5rem;
  text-align: left;
}
.tableOfInsurancePeriod th {
  background-color: #dbdbdb;
  border-bottom: 1px solid #a1a1a1;
}
.tableOfInsurancePeriod tr:nth-of-type(odd) {
  background-color: #a1a1a1;
}
.tableOfInsurancePeriod th:nth-child(3),
.tableOfInsurancePeriod tr td:nth-child(3) {
  text-align: center;
}
.emptyInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.green {
  color: green;
}
.orange {
  color: orange;
}
.red {
  color: red;
}
