.insuranceInfo {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #dbdbdb;
  border-radius: 0.5rem;
}
.carInsuranceInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #4f4f4f;
}
.tableOfInsurancePeriod {
  width: 100%;
  color: #2a2a2a;
  border-collapse: collapse;
}
.tableOfInsurancePeriod td {
  text-transform: capitalize;
}
.tableOfInsurancePeriod td[data-cell="plate"] {
  text-transform: uppercase;
}
.tableOfInsurancePeriod thead tr :first-child {
  border-top-left-radius: 0.5rem;
}
.tableOfInsurancePeriod thead tr :last-child {
  border-top-right-radius: 0.5rem;
}
.tableOfInsurancePeriod th,
.tableOfInsurancePeriod td {
  padding: 1rem 0.5rem;
  text-align: left;
}
.tableOfInsurancePeriod th {
  background-color: #dbdbdb;
  border-bottom: 1px solid #a1a1a1;
}
.tableOfInsurancePeriod tr:nth-of-type(odd) {
  background-color: #a1a1a1;
}
.tableOfInsurancePeriod tr:nth-of-type(even) {
  background-color: #dbdbdb;
}
.tableOfInsurancePeriod th:nth-child(3),
.tableOfInsurancePeriod tr td:nth-child(3) {
  text-align: center;
}
.tableOfInsurancePeriod tbody tr:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.tableOfInsurancePeriod tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
.tableOfInsurancePeriod tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
.emptyInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  color: #fada5e;
}
.green {
  font-weight: 900;
  color: green;
}
.orange {
  font-weight: 900;
  color: orange;
}
.red {
  font-weight: 900;
  color: red;
}
