.navbar {
  display: flex;
  width: auto;
  flex-direction: column;
  margin: 0;
  padding: 1rem 0.5rem;
  transition: width 1s;
}

.navButton,
.navButtonOff {
  display: flex;
  align-items: center;
  color: #fada5e;
}
.navButton {
  justify-content: flex-start;
}
.navButtonOff {
  justify-content: center;
}
.navButton:hover,
.navButtonOff:hover {
  cursor: pointer;
}
.nameOn {
  margin-left: 1rem;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.nameOff {
  opacity: 0;
}
.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  flex: 1;
}
.navigationList {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  list-style: none;
  gap: 2rem;
}
.navigationList a {
  height: 50px;
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.icon {
  width: 32px;
  margin: 0;
}
.tabTitle {
  margin: 0;
}
.active,
.inactive {
  display: flex;
  align-items: center;
}
.active {
  font-weight: bold;
  color: #2a2a2a;
  background-color: #fada5e;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.3s, background-color 0.3s;
}
.active .icon {
  background-color: #fada5e;
  transition: background-color 0.6s;
}
.inactive {
  display: flex;
  font-weight: normal;
  background-color: #2a2a2a;
  color: #fada5e;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: color 0.3s, background-color 0.3s;
}
.inactive:hover {
  border: 1px solid #fada5e;
}
