.navbar {
  display: flex;
  width: auto;
  flex-direction: column;
  margin: 0;
  padding: 1rem 0.5rem;
  transition: width 1s;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.navButton:hover {
  cursor: pointer;
}
.nameOn {
  margin-left: 1rem;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.nameOff {
  opacity: 0;
}
.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  flex: 1;
}
.navigationList {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  list-style: none;
  gap: 2rem;
}
.navigationList a {
  height: 50px;
  width: 100%;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.icon {
  width: 32px;
  margin: 0;
}
.tabTitle {
  margin: 0;
}
.active,
.inactive {
  display: flex;
  align-items: center;
}
.active {
  font-weight: bold;
  color: #f08a5d;
  background-color: #e5e5e5;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
.active .icon {
  background-color: #e5e5e5;
}
.inactive {
  display: flex;
  font-weight: normal;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid transparent;
}
