.addCar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #4f4f4f;
}
.title {
  padding: 1rem 0;
  font-size: 1.75rem;
  color: #fada5e;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  padding-right: 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carName,
.date,
.driverFullName,
.contactData {
  display: flex;
  width: 65%;
}
.driverFullName,
.contactData {
  padding: 1.5rem;
}
.formInput {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 2rem 1rem;
}
.formInput input {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #fada5e;
}
.formInput label {
  font-weight: 600;
}
.formInput > .react-datepicker-wrapper {
  border: 1px solid grey;
}
.carSelect {
  display: flex;
  position: relative;
  margin: 3rem 0;
}
.carSelect::after {
  content: "▼";
  font-size: 0.7rem;
  top: 0.7rem;
  right: 0.45rem;
  color: #fada5e;
  position: absolute;
}
.carsList {
  padding: 0.5rem 1rem;
  padding-right: 1.5rem;
  color: #fada5e;
  background-color: #2a2a2a;
  border: 1px solid #fada5e;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.carsList :focus {
  outline: none;
}
.addBtn {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  color: #fada5e;
  background-color: #2a2a2a;
  border: 1px solid #fada5e;
  border-radius: 0.5rem;
  transition: color 0.3s, backround-color 0.3s;
}
.addBtn:hover,
.formInput input:hover {
  cursor: pointer;
}
.addBtn:hover {
  color: #2a2a2a;
  background-color: #fada5e;
}
