.editButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 92px;
  gap: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  opacity: 0.3;
  transition: opacity 0.3s;
  cursor: pointer;
}
.delete {
  color: rgb(201, 0, 0);
}
/* .edit {
} */
.archive {
  color: #11384e;
}
.confirm {
  color: green;
}

.delete:hover,
.edit:hover,
.archive:hover,
.confirm:hover,
.main:hover {
  opacity: 1;
}
