.editButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 92px;
  gap: 1rem;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.icon:hover {
  cursor: pointer;
}
.delete:hover,
.edit:hover,
.confirm:hover,
.main:hover {
  opacity: 1;
}
