.formInput {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 2rem 1rem;
}
.formInput input {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  color: #fada5e;
  border-bottom: 1px solid #fada5e;
  background-color: #4f4f4f;
}
.formInput label {
  color: #fada5e;
  font-weight: 600;
}

.formInput input:hover {
  cursor: pointer;
}
.formInput input::-webkit-input-placeholder {
  opacity: 0.4;
  color: #dbdbdb;
}
.formInput input:focus {
  outline: none;
}
