.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.title h3 {
  font-size: 1.5rem;
  color: #fada5e;
}
.settelments {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}
.settelments::-webkit-scrollbar {
  width: 0.3rem;
}
.settelments::-webkit-scrollbar-track {
  background-color: transparent;
}
.settelments::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #fada5e;
}
.addContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.addInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.addEmailInput {
  width: 60%;
  padding: 0.5rem;
  border: none;
  color: #fada5e;
  background-color: #4f4f4f;
  border-bottom: 1px solid #fada5e;
}
.addEmailInputError {
  width: 60%;
  padding: 0.5rem;
  border: none;
  color: #fada5e;
  background-color: #4f4f4f;
  border-bottom: 1px solid red;
}
.addEmailInput:focus,
.addEmailInputError:focus,
.calculatorInput input:focus {
  outline: none;
}
.addEmailInput::-webkit-input-placeholder,
.calculatorInput input::-webkit-input-placeholder {
  opacity: 0.4;
  color: #dbdbdb;
}
.addBtn,
.convertBtn {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #fada5e;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fada5e;
  background-color: #2a2a2a;
  transition: background-color 0.3s;
  cursor: pointer;
}
.convertBtn {
  margin-top: 2rem;
}
.addBtn p,
.convertBtn p {
  margin-left: 0.5rem;
  font-size: 0.8rem;
}
.convertBtn p {
  margin-left: 0;
}
.addBtn:hover {
  color: #2a2a2a;
  background-color: #fada5e;
}
.error {
  margin-top: 0.5rem;
  color: red;
  font-size: 0.85rem;
}
.errorOff {
  margin-top: 0.5rem;
  color: #4f4f4f;
  font-size: 0.85rem;
}
.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.calculator {
  display: flex;
  width: 100%;
  flex: 1;
}
.calculatorInput,
.convertedAmount {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}
.calculatorInput input {
  width: 60%;
  padding: 0.5rem;
  border: none;
  color: #fada5e;
  background-color: #4f4f4f;
  border-bottom: 1px solid #fada5e;
}
.calculatorInput input::-webkit-inner-spin-button {
  display: none;
}
.convertedAmount {
  color: #fada5e;
}
.calculatorResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calculatorResult h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
/* .mailContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}
.emailList {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 0.25rem 0;
  color: #fada5e;
} */
