.drivers {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #4f4f4f;
}
.title {
  padding: 1rem 0;
  font-size: 1.75rem;
  color: #fada5e;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  flex: 1;
}
.options {
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 2rem;
}
.driversTable {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.tableOfDrivers {
  width: 100%;
  color: #000000;
  border-collapse: collapse;
}
.tableOfDrivers td[data-cell="plate"] {
  text-transform: uppercase;
}
.tableOfDrivers td {
  text-transform: capitalize;
}
.tableOfDrivers thead tr :first-child {
  border-top-left-radius: 0.5rem;
}
.tableOfDrivers thead tr :last-child {
  border-top-right-radius: 0.5rem;
}
.tableOfDrivers th,
.tableOfDrivers td {
  padding: 1rem;
  text-align: left;
}
.tableOfDrivers th {
  background-color: #dbdbdb;
}
.tableOfDrivers tbody tr:nth-of-type(odd) {
  background-color: #a1a1a1;
}
.tableOfDrivers tbody tr:nth-of-type(even) {
  background-color: #dbdbdb;
}
.tableOfDrivers tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
.tableOfDrivers tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
  border: 1px solid transparent;
}
