.cars {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.title {
  padding: 1rem 0;
  font-size: 1.75rem;
  color: #fada5e;
}
.options {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  flex: 1;
  overflow-y: hidden;
}
.carTable {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}
.carTable::-webkit-scrollbar {
  width: 0.2rem;
}
.carTable::-webkit-scrollbar-track {
  background-color: transparent;
}
.carTable::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #fada5e;
}
.legend {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 1;
}
.legend p {
  font-size: 0.8rem;
}
.legendColor {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  gap: 1rem;
  color: white;
}

.tableOfCars {
  width: 100%;
  color: #000000;
  border-collapse: collapse;
}
.tableOfCars thead tr :first-child {
  border-top-left-radius: 0.5rem;
}
.tableOfCars thead tr :last-child {
  border-top-right-radius: 0.5rem;
}
.tableOfCars th,
.tableOfCars td {
  padding: 1rem;
  text-align: left;
}
.tableOfCars td {
  text-transform: capitalize;
}
.tableOfCars td[data-cell="plate"] {
  text-transform: uppercase;
}
.tableOfCars th {
  background-color: #dbdbdb;
}
.tableOfCars tbody tr:nth-of-type(odd) {
  background-color: #a1a1a1;
}
.tableOfCars tbody tr:nth-of-type(even) {
  background-color: #dbdbdb;
}
.tableOfCars tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
  border: 1px solid transparent;
}
.tableOfCars tbody tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
  border: 1px solid transparent;
}
.colorGreen,
.colorOrange,
.colorRed {
  width: 2rem;
  height: 1.25rem;
}
.green {
  font-weight: 900;
  color: green;
}
.colorGreen {
  background-color: green;
}
.orange {
  font-weight: 900;
  color: #ffa538;
}
.colorOrange {
  background-color: #ffa538;
}
.red {
  font-weight: 900;
  color: rgb(201, 0, 0);
}
.colorRed {
  background-color: rgb(201, 0, 0);
}
