.footer {
  display: flex;
  height: 34px;
  flex-direction: row;
  justify-content: center;
  color: #fada5e;
}
.footerSmall {
  display: flex;
  flex-direction: column;
}
.footer p {
  font-size: 0.65rem;
}
.footerSmall p {
  font-size: 0.65rem;
  text-align: center;
  color: #fada5e;
}
